
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 89%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    width: 100%;
    
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: #5243d4;
    text-decoration: none;
}
a:hover{
    color: #0d0743;;
}

.btn{
    padding: 7px 10px;

    border: none;
    font-size: 16px;
    border-radius: 5px;
}
.btn-primary{
    background-color: #7b6cfd;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #5243d4;
}
.btn-danger{
    background-color: red;
    color: white;
    cursor: pointer;
}
.btn-danger:hover{
    color: white;
    background-color: darkred;
}
.success{
    color: #2ed573;
}
.error{
    color: #ff4757;
}
h2{
    color: #7b6cfd;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
    word-wrap: break-word;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}


/* CSSS for navbar section */


.navbar {
    background-color: rgb(29 29 29); 
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 20px; 
}



.menu-left ul, .menu-right ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-left ul li, .menu-right ul li {
    font-size: 18px;
    margin: 0 10px;
}

.menu-left ul li a, .menu-right ul li a {
    color: #fff; 
    font-weight: bold;
}
.menu-left ul li a:hover, .menu-right ul li a:hover {
    color: #d4c4ff;
}


.user-icon {
    position: relative;
    cursor: pointer;
}

.user-menu {
    display: none;
}
.user-menu.active {
    display: block; /* Show the menu when 'active' class is present */
}
.user-menu ul{
    position: absolute;
    top: 120%;
    right: 0;
    background: rgba(28, 27, 27, 0.84);
    display: flex;
    flex-direction: column;
}


.user-menu ul li a {
    display: block;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    color: #fffffff2;
}

.user-menu ul li a:hover {
    background-color: rgba(0, 0, 0, 0.84);;
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {

    .navbar-container {
        display: block;

     }
     .logo img {
         float: left;
         margin-left: 5%;
 
     }
     .menu-left ul, .menu-right ul {
        margin-left:26%;
        margin-top: 2%;
    }
   
}
@media only screen and (max-width: 490px) {
    

     .logo img {
         float: left;
         margin-left: 3%;
 
     }
     .menu-left ul, .menu-right ul {
        margin-left:0;
        margin-top: 2%;
    }
    .menu-left ul li, .menu-right ul li {
        font-size: 15px;
        margin: 0 5px;

    } 
    .logo img {
        width: 50px;
        height: auto;
        margin-right: 5px;
        margin-bottom: 5px;
    }
   
}





/* CSS for Login ans signup */

.login-container, .signup-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #75257508;
    width: 350px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.login-container{
    margin: 150px auto;
}
.signup-container{
    margin: 100px auto;
}

.login-container h1, .signup-container h1 {
    color: #4a148c;
    margin-bottom: 20px;
}

.login-container input[type="text"], .login-container input[type="password"],
.signup-container input[type="text"], .signup-container input[type="password"],
.signup-container input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.login-container input[type="submit"], .signup-container input[type="submit"] {
    background-color: #4a148c;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-container input[type="submit"]:hover, .signup-container input[type="submit"]:hover {
    background-color: #6a1b9a;
}

.login-container a, .signup-container a {
    color: #4a148c;
}

.login-container a:hover, .signup-container a:hover {
    text-decoration: underline;
}
@media only screen and (max-width: 450px) {
    

    .login-container, .signup-container {
        width: 80%;

    }
  
}




/* CSS for Food Search Section */

.food-search{
    background-image: url(../images/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 8% 0;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}


/* CSS for Categories */

.categories {
    padding: 4% 0;
    background-color: #d7d3e06e;
}

.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.box-3 {
    width: 300px;
    
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: white;
    padding-bottom: 10px;
}

.img-container img {
    width: 100%;
    height:340px;
    object-fit: cover;
    transition: transform 0.3s;
}

.box-3:hover .img-container img {
    transform: scale(1.1);
}

.category-title {
    margin: 10px 0 0;
    font-size: 1.2rem;
    color: #5243d4;
    padding: 10px 0;
    width: 100%;
    background-color: #f8f8f8a8;
}

.box-3:hover {
    transform: scale(1.05);
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
    .box-3{
        width: 410px;
    }
}


/* CSS for Food Menu */
.food-menu {
    background-color: #e2dff1a8;
    padding: 3% 0;
}
.original-price {
    text-decoration: line-through;
    color: #e74c3c;
    margin-right: 5px;
}
.discount{
    color: #454545;
    font-size: 17px;
}
.food-menu-box {
    width: 43%;
    margin: 1%;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
    transition: transform 0.2s;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.food-menu-box:hover {
    transform: scale(1.05);
}

.food-menu-img {
    width: 20%;
    float: left;
}

.food-menu-desc {
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price {
    font-size: 18px;
    margin: 2% 0;
}

.food-detail {
    color: #747d8c;
}

.foods {
    display: flex;
    flex-wrap: wrap;
}





/* CSS for Social */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* CSS for footer section  */
.footer {
    /* background-color: #f9f9f9; */
    padding: 20px;
    text-align: center;
}

.footer p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #666;
    letter-spacing: 2px;
}

/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}

/* css for about us section  */
/* CSS for about us section  */
.about {
    width: 70%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 50px;
    overflow: hidden;
    text-align: center;
    padding: 50px 20px;
}

.about-heading {
    color: #7059da;
    font-size: 45px;
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    text-shadow: 1px 1px 4px rgb(156, 156, 156);
    margin-bottom: 30px;
}

.about-image {
    background-image: url("../images/about.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px; 
    border-radius: 10px;
    margin-bottom: 30px;
}

.about-content {
    background: #fff;
    padding: 20px 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-content p {
    font-size: 18px;
    font-weight: 300;
    opacity: 0.7;
    line-height: 1.7;
    margin-bottom: 15px;
}

/* Media Query */
@media(max-width: 800px) {
    .about-image {
        width: 100%;
        height: 300px;
    }
    .about-content {
        width: 100%;
        margin-top: 30px;
    }
    .about-content p {
        font-size: 17px;
    }
}


/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    /* .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    } */

    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 10% 0;
    }

    /* .categories{
        padding: 9% 0;
    } */
    h2{
        margin-bottom: 10%;
    }
    /* .box-3{
        width: 100%;
        margin: 4% auto;
    } */

    .food-menu{
        padding: 9% 0;
    }

    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}




/* Base styles for the cart section */
.cart {
    width: 90%;
    margin: 5% auto;
    padding: 2% 0;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2%;
}

.cart-table th, .cart-table td {
    border: 1px solid #ececec;
    padding: 10px;
    text-align: center;
}

.cart-table th {
    background-color: #f9f9f9;
}

.cart-quantity-input {
    width: 60px;
    padding: 8px;
}

.cart .btn {
    margin: 5% 0;
    padding: 5px 10px;
    border-radius: 5px;
}

.cart-summary {
    text-align: right;
    margin-top: 20px;
}

.cart-summary h3 {
    margin-bottom: 10px;
    color: #000000b8;
    font-size: 30px;
}

/* Error message style */
.cart .error {
    color: #ff4757;
    font-size: 40px;
    margin: 15% 0;
    text-align: center;
}


@media only screen and  (max-width: 525px) {
    

    .cart-table td {
        display: block;
    }

    .cart-table th {
        display: none;
    }

    .cart-table td {
        text-align: right;
        position: relative;
        padding-left: 68%;
    }

    .cart-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
    }
}



/* account section  */

/* Account container styles */
.account-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    color: #4a148c; 
}

.account-container h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #4a148c; 
}

.account-container form {
    display: flex;
    flex-direction: column;
}

.account-container .form-group {
    margin-bottom: 15px;
}

.account-container .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #4a148c; 
}

.account-container .form-group input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 20px;
}

.account-container form input[type="submit"] {
    width: 100%;
    padding: 15px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.message {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    text-align: center;
}

@media (max-width: 768px) {
    .account-container {
        width: 90%;
    }
}



/* order.php  */

.order-history-container {
    width: 90%;
    margin: 5% auto;
    padding: 2% 0;
}

.order-history-table {
    width: 100%;
    border-collapse: collapse;
}

.order-history-table th, .order-history-table td {
    border: 1px solid #ececec;
    padding: 10px;
    text-align: center;
}

.order-history-table th {
    background-color: #f9f9f9;
    color: #4a148c; 
}

.order-history-table td {
    background-color: #fff;
}


/* Responsive adjustments */
@media only screen and (max-width: 768px) {
    .order-history-table th, .order-history-table td {
        padding: 5px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 525px) {
    .order-history-table td {
        display: block;
    }

    .order-history-table th {
        display: none;
    }

    .order-history-table td {
        text-align: right;
        position: relative;
    }

    .order-history-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
    }
    .order-history-table td[data-label="Status"] {
        border-bottom: 4px solid #7513ca;
    }
}


/* food info .php  */
.food-details {
    padding: 5% 0;
}

.food-details h3 {
    color: #7b6cfd;
}

.food-details-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.food-details-img {
    flex: 1;
}

.food-details-desc {
    flex: 2;
    padding: 0 5%;
}

.original-price {
    text-decoration: line-through;
    color: #e74c3c;
    margin-right: 5px;
}

.discounted-price {
    color: #500c78;
    font-size: 1.3rem;
}

.reviews {
    margin-top: 5%;
}

.reviews .hidden{
    display: none;
}
.review-box {
    background-color: #ffffff;
    border: 1px solid #ececec;
    padding: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-rating .star {
    color: #f1c40f;
    font-size: 1.5rem;
}

.review-rating .star.filled {
    color: #f39c12;
}

.add-review-form {
    margin-top: 2%;
    background-color: #ffffff;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-review-form fieldset {
    margin-bottom: 2%;
}

.add-review-form legend {
    color: #7b6cfd;
    font-size: 1.3rem;
    margin-bottom: 1%;
}

.add-review-form .rating-input input {
    margin: 0 5px;
}

.add-review-form textarea {
    width: 90%;
    padding: 1%;
    margin-bottom: 2%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}
